<form [formGroup]="form" class="container-fluid booking">
  <div class="row px-4">
    <div class="col-12">
      <div class="pt-5">
        <h6 class="subtitle">Dane rezerwacji</h6>
        <hr class="line-section"/>
      </div>
      <div class="row pt-3" formGroupName="reservation">
        <div class="col-6 col-md">
          <div class="input-filed-container w-100">
            <label class="input-label disabled-label" for="dateFrom">Data zameldowania</label>
            <p-calendar
              [showOnFocus]="false"
              [readonlyInput]="true"
              class="w-100"
              formControlName="dateFrom"
              id="dateFrom"/>
          </div>
        </div>
        <div class="col-6 col-md">
          <div class="input-filed-container w-100">
            <label class="input-label disabled-label" for="dateTo">Data wymeldowania</label>
            <p-calendar
              [showOnFocus]="false"
              [readonlyInput]="true"
              class="w-100"
              formControlName="dateTo"
              id="dateTo"/>
          </div>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-6 col-md">
          <div class="input-filed-container w-100">
            <span>Cena za noc: {{ref.room.price}}$</span>
          </div>
        </div>
        <div class="col-6 col-md">
          <div class="input-filed-container w-100">
            <span>Suma do zapłaty: {{totalPayment}}$</span>
          </div>
        </div>
      </div>
      <div class="pt-5">
        <h6 class="subtitle">Dane podstawowe</h6>
        <hr class="line-section"/>
      </div>
      <div class="row pt-3" formGroupName="guest">
        <div class="col-6 col-md">
          <div class="input-filed-container w-100">
            <label class="input-label" for="name">Imię</label>
            <input [ngClass]="{'invalid': (this.getControl('guest','name')?.errors?.['required'] && this.getControl('guest','name')?.touched)}"
              class="w-100"
              formControlName="name"
              id="name"
              pInputText
              type="text"
            />
            <div *ngIf="this.getControl('guest','name')?.errors?.['required'] && this.getControl('guest','name')?.touched"
                 class="validator-error">
              Pole wymagane
            </div>
          </div>
        </div>
        <div class="col-6 col-md">
          <div class="input-filed-container w-100">
            <label class="input-label" for="surname">Nazwisko</label>
            <input [ngClass]="{'invalid': (this.getControl('guest','surname')?.errors?.['required'] && this.getControl('guest','surname')?.touched)}"
              class="w-100"
              formControlName="surname"
              id="surname"
              pInputText
              type="text"/>
              <div *ngIf="this.getControl('guest','surname')?.errors?.['required'] && this.getControl('guest','surname')?.touched"
                   class="validator-error">
                  Pole wymagane
              </div>
          </div>
        </div>
      </div>
      <div class="row pt-3" formGroupName="guest">
        <div class="col-6 col-md">
          <div class="input-filed-container w-100">
            <label class="input-label" for="sex">Płeć</label>
            <input [ngClass]="{'invalid': (this.getControl('guest','sex')?.errors?.['required'] && this.getControl('guest','sex')?.touched)}"
              class="w-100"
              formControlName="sex"
              id="sex"
              pInputText
              type="text"/>
              <div *ngIf="this.getControl('guest','sex')?.errors?.['required'] && this.getControl('guest','sex')?.touched"
                   class="validator-error">
                  Pole wymagane
              </div>
          </div>
        </div>
        <div class="col-6 col-md">
          <div class="input-filed-container w-100">
            <label class="input-label" for="dateBirth">Data urodzenia</label>
            <p-calendar [ngClass]="{'invalid': (this.getControl('guest','birthday')?.errors?.['required'] && this.getControl('guest','birthday')?.touched)}"
                        appendTo="body"
                        class="w-100"
                        formControlName="birthday"
                        id="dateBirth"
                        type="text"/>
              <div *ngIf="this.getControl('guest','birthday')?.errors?.['required'] && this.getControl('guest','birthday')?.touched"
                   class="validator-error">
                  Pole wymagane
              </div>
          </div>
        </div>
      </div>
      <div class="row pt-3" formGroupName="guest">
        <div class="col-6 col-md">
          <div class="input-filed-container w-100">
            <label class="input-label" for="phone">Telefon</label>
            <input  [ngClass]="{'invalid': (this.getControl('guest','phone')?.errors?.['required'] && this.getControl('guest','phone')?.touched)}"
                    class="w-100"
                    formControlName="phone"
                    id="phone"
                    pInputText
                    type="text"/>
              <div *ngIf="this.getControl('guest','phone')?.errors?.['required'] && this.getControl('guest','phone')?.touched"
                   class="validator-error">
                  Pole wymagane
              </div>
          </div>
        </div>
        <div class="col-6 col-md">
          <div class="input-filed-container w-100">
            <label class="input-label" for="email">E-mail</label>
            <input  [ngClass]="{'invalid': (this.getControl('guest','email')?.errors?.['required'] && this.getControl('guest','email')?.touched)}"
                    class="w-100"
                    formControlName="email"
                    id="email"
                    pInputText
                    type="text"/>
              <div *ngIf="this.getControl('guest','email')?.errors?.['required'] && this.getControl('guest','email')?.touched"
                   class="validator-error">
                  Pole wymagane
              </div>
          </div>
        </div>
      </div>
      <div class="pt-5">
        <h6 class="subtitle">Adres zamieszkania</h6>
        <hr class="line-section"/>
      </div>
      <div class="row pt-3" formGroupName="guest">
        <div class="col-6 col-md">
          <div class="input-filed-container w-100">
            <label class="input-label" for="address">Adres</label>
            <input  [ngClass]="{'invalid': (this.getControl('guest','address')?.errors?.['required'] && this.getControl('guest','address')?.touched)}"
                    class="w-100"
                    formControlName="address"
                    id="address"
                    pInputText
                    type="text"/>
              <div *ngIf="this.getControl('guest','address')?.errors?.['required'] && this.getControl('guest','address')?.touched"
                   class="validator-error">
                  Pole wymagane
              </div>
          </div>
        </div>
        <div class="col-6 col-md">
          <div class="input-filed-container w-100">
            <label class="input-label" for="city">Miasto</label>
            <input  [ngClass]="{'invalid': (this.getControl('guest','city')?.errors?.['required'] && this.getControl('guest','city')?.touched)}"
                    class="w-100"
                    formControlName="city"
                    id="city"
                    pInputText
                    type="text"/>
              <div *ngIf="this.getControl('guest','city')?.errors?.['required'] && this.getControl('guest','city')?.touched"
                   class="validator-error">
                  Pole wymagane
              </div>
          </div>
        </div>
      </div>
      <div class="row pt-3" formGroupName="guest">
        <div class="col-6 col-md">
          <div class="input-filed-container w-100">
            <label class="input-label" for="state">Województwo</label>
            <input  [ngClass]="{'invalid': (this.getControl('guest','state')?.errors?.['required'] && this.getControl('guest','state')?.touched)}"
                    class="w-100"
                    formControlName="state"
                    id="state"
                    pInputText
                    type="text"/>
              <div *ngIf="this.getControl('guest','state')?.errors?.['required'] && this.getControl('guest','state')?.touched"
                   class="validator-error">
                  Pole wymagane
              </div>
          </div>
        </div>
        <div class="col-6 col-md">
          <div class="input-filed-container w-100">
            <label class="input-label" for="zipCode">Kod pocztowy</label>
            <input  [ngClass]="{'invalid': (this.getControl('guest','zipCode')?.errors?.['required'] && this.getControl('guest','zipCode')?.touched)}"
                    class="w-100"
                    formControlName="zipCode"
                    id="zipCode"
                    pInputText
                    type="text"/>
              <div *ngIf="this.getControl('guest','zipCode')?.errors?.['required'] && this.getControl('guest','zipCode')?.touched"
                   class="validator-error">
                  Pole wymagane
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <div class="table-buttons-container">
      <p-button (click)="confirmCancel($event)"
                class="form-button"
                label="ANULUJ"
                styleClass="p-button-outlined"></p-button>
      <p-button (click)="submitForm(form)" class="form-button" label="ZAPISZ" styleClass="p-button-raised"
                type="submit"></p-button>
    </div>
  </div>
</form>
