<div class="rooms pb-5">
    <p-confirmDialog #cd [style]="{width: '50vw'}" [closable]="false">
        <ng-template pTemplate="footer">
            <p-button class="confirmation-dialog-button"
                      styleClass="p-button-outlined p-button-text"
                      label="NIE"
                      (click)="cd.reject()"></p-button>
            <p-button class="confirmation-dialog-button"
                      styleClass="p-button-raised"
                      label="TAK"
                      (click)="cd.accept()"></p-button>
        </ng-template>
    </p-confirmDialog>
    <div class="container-fluid">
        <div class="section-wide">
            <div class="section-header">
                <h5 class="section-header-title">POKOJE</h5>
            </div>
            <hr class="break-line-section"/>
            <form #form="ngForm" class="section-body">
                <div class="row px-2 py-1">
                    <div class="col">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 offset-3 py-2">
                                <div class="input-filed-container w-100">
                                    <label class="input-label"
                                           for="dateFrom">
                                        Data zameldowania
                                    </label>
                                    <p-calendar [(ngModel)]="dateFrom" [ngModelOptions]="{standalone:true}" id="dateFrom"></p-calendar>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 py-2">
                                <div class="input-filed-container w-100">
                                    <label class="input-label"
                                           for="dateTo">
                                        Data wymeldowania
                                    </label>
                                    <p-calendar [(ngModel)]="dateTo" [ngModelOptions]="{standalone:true}" id="dateTo"></p-calendar>
                                </div>
                            </div>
                            <div class="col-2 py-2">
                                <p-button (click)="searchFreeRoom()"
                                          class="add-item-button" label="SZUKAJ" size="small"
                                          styleClass="p-button p-button-rounded" type="submit"></p-button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="section-body-table py-5">
                <p-table #dataTable
                         [paginator]="true"
                         [rowsPerPageOptions]="[10, 20, 50]"
                         [rows]="pageable.size"
                         [tableStyle]="{'min-width': '30rem'}"
                         [totalRecords]="totalRecords"
                         [value]="rooms"
                         class="rooms-table"
                         dataKey="id"
                         styleClass="p-datatable-striped">
                    <ng-template pTemplate="header">
                        <tr class="striped-tr">
                            <th class="table-header " pSortableColumn="login" style="width: 5%">Lp
                            </th>
                            <th class="table-header " pSortableColumn="number" style="width: 20%">Numer pokoju
                                <p-sortIcon field="room.number"></p-sortIcon>
                            </th>
                            <th class="table-header " pSortableColumn="standard" style="width: 20%">Standard
                                <p-sortIcon field="room.standard"></p-sortIcon>
                            </th>
                            <th class="table-header " pSortableColumn="capacity" style="width: 15%">Max osób
                                <p-sortIcon field="room.capacity"></p-sortIcon>
                            </th>
                            <th class="table-header " pSortableColumn="floor" style="width: 15%">Piętro
                                <p-sortIcon field="room.floor"></p-sortIcon>
                            </th>
                            <th class="table-header " pSortableColumn="price" style="width: 15%"> Cena
                                <p-sortIcon field="room.price"></p-sortIcon>
                            </th>
                            <th style="width: 20%">
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template let-ri="rowIndex" let-room pTemplate="body">
                        <tr class="striped-tr">
                            <td class="table-item">{{ ri + 1 }}</td>
                            <td class="table-item">{{ room.number }}</td>
                            <td class="table-item">{{ room.standard }}</td>
                            <td class="table-item">{{ room.capacity }}</td>
                            <td class="table-item">{{ room.floor }}</td>
                            <td class="table-item">{{ room.price | currency }}</td>
                            <td class="table-dots">
                                <p-button
                                        *ngIf="checkIsBookingDateSelected()"
                                        (onClick)="showBookRoomModal('Rezerwacja pokoju', {room: room, dateFrom: dateFrom, dateTo: dateTo})"
                                        icon="pi pi-calendar-plus"
                                        class="room-action-button"
                                        ngbTooltip="Rezerwuj"
                                        styleClass="p-button-text">
                                </p-button>
                                <p-button
                                        *ngIf="!checkIsBookingDateSelected()"
                                        severity="secondary"
                                        disabled
                                        icon="pi pi-calendar-plus"
                                        class="room-action-button"
                                        ngbTooltip="Rezerwuj"
                                        styleClass="p-button-text">
                                </p-button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr *ngIf="!isLoading" class="center empty-text"
                            style="border-bottom: 1px solid #4CAF50; padding: 10px 0">
                            <td colspan="12" style="text-align:center; padding: 20px 0;">
                                <i>Brak pozycji do wyświetlenia</i>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>
