<footer class="footer-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 text-container">
        <p class="italic text">Copyright &copy; 2024 Hotel Manager Wszelkie prawa zastrzeżone.</p>
      </div>
      <div class="col-4 text-center align-middle">
        <img alt="Footer logo" class="footer-logo" src="assets/logo-no-background.png"/>
      </div>
      <div class="col-4 text-end text-container">
        <p class="italic text">Hotel Manager v 1.0</p>
      </div>
    </div>
  </div>
</footer>

