.footer-container {
  background-color: #242424;
  color: #bebebe;
  overflow: hidden;
  width: 100%;
}
.italic {
  font-size: 0.8em;
  font-style: italic;
}
.footer-logo {
  height:  40px;
  width: 135px;
  margin-top: 10px;
  @media only screen and (max-width: 700px) {
    height: 45px;
    width: 135px;
    margin-top: 30px;
  }
}
.text-container {
  margin-top: 30px;
}
.text {
  padding: 0 15px 15px 15px;
  @media only screen and (max-width: 700px) {
    padding: 10px;
    font-size: 0.5em;
  }
}
